<mat-card>
  <mat-card-title>
    <mat-toolbar flex>
      <span>My team</span>
      <span class="spacer"></span>
      <span *ngIf="loggedIn">Praveen &nbsp;</span>
      <button mat-raised-button *ngIf="!loggedIn" (click)="login()" color="primary">Login</button>
      <button mat-raised-button *ngIf="loggedIn" (click)="logout()" color="warn">Logout</button>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Home">
        <app-home></app-home>
      </mat-tab>
      <mat-tab label="Games">
        <app-games></app-games>
      </mat-tab>
      <mat-tab label="Practice">
        <app-practice></app-practice>
      </mat-tab>
      <mat-tab label="Umpirings">
        <app-umpirings></app-umpirings>
      </mat-tab>
      <mat-tab label="Expenses">
        <app-expenses></app-expenses>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>